html body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    background: #eeefe9;
}



.intro-block{
    background: url(../img/purpalt.png)repeat;
    padding: 100px 15px 60px;
    color: #fff;
}

.carousel-caption{
    z-index: 30px;
}

.carousel-inner > .item > img{
    position: absolute;
    top:50px;
    left: 0;
    min-width: 100%
    height:auto;
}
.carousel-inner > .item{
    height: 300px;
}
.text-muted{
    color: #e9e6df;
    font-weight: 100;
}
.tpad{
    padding: 20px;
}
.marketing{
    background-color:#e9e6df;
}
hr{
    border-top:1px solid #c9c9c9;
}

.info{
    background: #ffa753 url(../img/skyline.png) repeat-x bottom;
    padding: 80px 0;
}
.info small{
    color: #eeefe9;
}
.info a{
    color:#fff;
}
.info a:hover{
    color: #333;
}
.tab-pane{
    padding: 40px 10px 0 10px;
}
